.caption {
    background-color: greenyellow;
    text-align: center;
}

.thumbnail {
    background-color: black;
}

h1 {
    text-align: center;
    color: greenyellow;
}

img {
    width: 100%;
    height: 200px;
}