

.touch .popup_menu_holder_outer{
display: none;
}

.touch .popup_menu_opened .popup_menu_holder_outer{
display: block;
}

.cover_boxes ul li .box .box_content { top: 0; }
.cover_boxes ul li .box .qbutton { margin-top: 18px; }

.drop_down .second .inner .widget {
padding-bottom: 13px;
}

.drop_down .second .inner .widget a{
padding: 0px !important;
}

.google_map {
margin: 0;
}

.q_slider .separator.small {
height: 3px;
margin-top: 29px !important;
margin-bottom: 29px !important;
}

.call_to_action .text_wrapper .call_to_action_text {
color: #959595;
font-size: 14px;
letter-spacing: 0px;
}

.call_to_action_text h5 {
margin-bottom: 10px;
}

.testimonials .testimonial_text_inner p  {
font-style: italic;
}

.testimonials .testimonial_text_inner p.testimonial_author {
font-family: 'Open Sans Condensed';
font-style: normal;
}

.footer_top {
padding: 94px 0 94px;
}

.footer_bottom {
font-size: 14px;
height: 68px;
}

.q_slider .qbutton.green {
background-color: #fff;
color: #363636;
}

.q_slider .qbutton.green:hover {
background-color: #363636;
border-color: #363636;
color: #fff !important;
}

.q_slider .qbutton {
background-color: #eddf02;
color: #363636 !important;
}

.q_slider .qbutton:hover {
background-color: #363636;
border-color: #363636;
color: #fff !important;
}

.title .separator.small, .title .separator.small.left, .title .separator.small.right {
margin-top: 34px;
margin-bottom: 34px;
}

.projects_holder article span.text_holder {
background-color: rgba(255,255,255,0.85);
}

.projects_holder.hover_text article .hover_feature_holder_title .portfolio_title a, .projects_holder.hover_text article span.text_holder span.text_inner .hover_feature_holder_title .project_category {
color: #555;
}


.circle .icon_holder .fa-stack:hover {
background-color: #eddf02 !important;
color: #fff !important;
}

.circle .icon_holder .fa-stack:hover i.fa {
color: #fff !important;
}

.header_top .q_font_awsome_icon i:hover {
color: #252525 !important;
}


.blog_holder article.format-link .post_text:hover .post_info, .blog_holder article.format-link .post_text:hover .post_info a, .blog_holder article.format-quote .post_text:hover .post_info, .blog_holder article.format-quote .post_text:hover .post_info a, .blog_holder article.format-quote .blog_like a:hover span, .blog_holder article.format-quote .post_text:hover .quote_author, .blog_holder article.format-quote .post_text:hover i.qoute_mark, .blog_holder article.format-link .post_text:hover i.link_mark, .blog_holder article.format-link .blog_like a:hover span, .blog_holder article.format-quote .post_text:hover p a, .blog_holder article.format-link .post_text:hover p a, .blog_holder.blog_single article.format-quote .post_text:hover p, .blog_holder.blog_single article.format-link .post_text:hover p, .blog_large_image_simple article.format-quote .post_text:hover .minimalist_date, .blog_large_image_simple article.format-link .post_text:hover .minimalist_date {
color: #363636;
}

@media only screen and (min-width: 1000px) {
  .header_top {    
        line-height: 40px;    
        height: 40px;
  }
   header .q_logo img.mobile {
        width: 12em !important;
        height: 71% !important;
        margin-top: 1em !important;
  }
  .q_logo img{
        width: 14em !important;
        height: auto !important;
       
}
     #qode-home-slider{
		height: 933px !important;
	}
	.q_slider{
		height: 800px !important;
	}
}

nav.mobile_menu ul li a, nav.mobile_menu ul li h3 {
text-transform: uppercase;
}

.text.one_by_one {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 10px;
transition: background 0.5s ease;
}
@media only screen and (max-width: 480px) {
	header .q_logo img.mobile {
    width: 14em !important;
    height: 71% !important;
margin-top: 1em !important;
	}
	#qode-home-slider{
		height: 500px !important;
	}
	.q_slider{
		height: 500px !important;
	}
#home-3-img{
              text-align:center !important;
     }
 .custom-h2{font-size: 1.4em !important;}
.applications-tab-first li a{font-size:9px  !important;}
.q_tabs.vertical .tabs-nav {
    width: 31% !important;
   }
.q_slider {display:none;}
}
@media only screen and (max-width: 420px){
header .q_logo img.mobile {
    width: 14em !important;
    height: 71% !important;
margin-top: 1em !important;
	}
	#qode-home-slider{
		height: 500px !important;
	}
	.q_slider{
		height: 500px !important;
	}
#home-3-img{
              text-align:center !important;
     }
   .custom-h2 h2 {
    font-size: 27px !important;
    }
   .custom-h2-small h2 {
    font-size: 25px  !important;
    }
.applications-tab-first li a{font-size:9px  !important;}
.q_slider {display:none;}
}
@media only screen and (max-width: 350px) {
header .q_logo img.mobile {
    width: 14em !important;
    height: 71% !important;
margin-top: 1em !important;
	}
	#qode-home-slider{
		height: 500px !important;
	}
	.q_slider{
		height: 500px !important;
	}
       #home-3-img{
              text-align:center !important;
     }
 .custom-h2-18  h2 {
    font-size: 18px !important;
     text-align: left !important;
 }
     .custom-h2 h2 {
   font-size: 20px !important;
  text-align: left !important
    }
   .custom-h2-first h2 {
    font-size: 25px  !important;
   word-spacing: 2.3em;
word-break: break-all;
text-align: left !important
    }
   .custom-h2-second h2 {
    font-size: 20px !important;
   text-align: left !important
    }
   .custom-h2-small h2 {
    font-size: 20px !important;
    word-spacing: 1.5em;
word-break: break-all;
text-align: left;
    }
     .q_slider {display:none;}
    .applications-tab-first li a{font-size:9px  !important;}
}
.qbutton.white {
     color: #fff !important;   
}

header.sticky .header_bottom {
padding-bottom: 15px;
}
