/*Bouncing Scroll-Down Arrow*/
#ep-arrow .bounce-effect-1 {
  -webkit-animation: epda_bounce1  2s infinite;
  -moz-animation: epda_bounce1  2s infinite;
  -ms-animation: epda_bounce1  2s infinite;
  -o-animation: epda_bounce1  2s infinite;
  animation: epda_bounce1  2s infinite; }
#ep-arrow .bounce-effect-2 {
  -webkit-animation: epda_bounce2  2s infinite;
  -moz-animation: epda_bounce2  2s infinite;
  -ms-animation: epda_bounce2  2s infinite;
  -o-animation: epda_bounce2  2s infinite;
  animation: epda_bounce2  2s infinite; }
#ep-arrow .bounce-effect-3 {
  -webkit-animation: epda_bounce3  1s infinite;
  -moz-animation: epda_bounce3  1s infinite;
  -ms-animation: epda_bounce3  1s infinite;
  -o-animation: epda_bounce3  1s infinite;
  animation: epda_bounce3  1s infinite; }
#ep-arrow .pulse {
  animation: epda_pulse 1s infinite; }
#ep-arrow .slide_down {
  animation: slide_down 1s infinite; }
#ep-arrow .fade_down {
  -webkit-animation: fade_down ease-in-out 3.4s infinite;
  -moz-animation: fade_down ease-in-out 3.4s infinite;
  -ms-animation: fade_down ease-in-out 3.4s infinite;
  -o-animation: fade_down ease-in-out 3.4s infinite;
  animation: fade_down ease-in-out 3.4s infinite; }

@-webkit-keyframes epda_bounce1 {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(0, 0, 0); }
  40% {
    -webkit-transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, -8px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes epda_bounce1 {
  0% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -moz-transform: translate3d(0, 0, 0); }
  20% {
    -moz-transform: translate3d(0, 0, 0); }
  40% {
    -moz-transform: translate3d(0, -30px, 0); }
  70% {
    -moz-transform: translate3d(0, 0, 0); }
  80% {
    -moz-transform: translate3d(0, -8px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }
@-ms-keyframes epda_bounce1 {
  0% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -ms-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -ms-transform: translate3d(0, 0, 0); }
  20% {
    -ms-transform: translate3d(0, 0, 0); }
  40% {
    -ms-transform: translate3d(0, -30px, 0); }
  70% {
    -ms-transform: translate3d(0, 0, 0); }
  80% {
    -ms-transform: translate3d(0, -8px, 0); }
  100% {
    -ms-transform: translate3d(0, 0, 0); } }
@-o-keyframes epda_bounce1 {
  0% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -o-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -o-transform: translate3d(0, 0, 0); }
  20% {
    -o-transform: translate3d(0, 0, 0); }
  40% {
    -o-transform: translate3d(0, -30px, 0); }
  70% {
    -o-transform: translate3d(0, 0, 0); }
  80% {
    -o-transform: translate3d(0, -8px, 0); }
  100% {
    -o-transform: translate3d(0, 0, 0); } }
@keyframes epda_bounce1 {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    transform: translate3d(0, 0, 0); }
  20% {
    transform: translate3d(0, 0, 0); }
  40% {
    transform: translate3d(0, -30px, 0); }
  70% {
    transform: translate3d(0, 0, 0); }
  80% {
    transform: translate3d(0, -8px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes epda_bounce2 {
  0% {
    -webkit-transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  50% {
    -webkit-transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-15px); }
  80% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes epda_bounce2 {
  0% {
    -moz-transform: translateY(0); }
  20% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  50% {
    -moz-transform: translateY(0); }
  60% {
    -moz-transform: translateY(-15px); }
  80% {
    -moz-transform: translateY(0); }
  100% {
    -moz-transform: translateY(0); } }
@-ms-keyframes epda_bounce2 {
  0% {
    -ms-transform: translateY(0); }
  20% {
    -ms-transform: translateY(0); }
  40% {
    -ms-transform: translateY(-30px); }
  50% {
    -ms-transform: translateY(0); }
  60% {
    -ms-transform: translateY(-15px); }
  80% {
    -ms-transform: translateY(0); }
  100% {
    -ms-transform: translateY(0); } }
@-o-keyframes epda_bounce2 {
  0% {
    -o-transform: translateY(0); }
  20% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  50% {
    -o-transform: translateY(0); }
  60% {
    -o-transform: translateY(-15px); }
  80% {
    -o-transform: translateY(0); }
  100% {
    -o-transform: translateY(0); } }
@keyframes epda_bounce2 {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(0); }
  60% {
    transform: translateY(-15px); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes epda_bounce3 {
  0% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes epda_bounce3 {
  0% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-15px); }
  100% {
    -moz-transform: translateY(0); } }
@-ms-keyframes epda_bounce3 {
  0% {
    -ms-transform: translateY(0); }
  40% {
    -ms-transform: translateY(-15px); }
  100% {
    -ms-transform: translateY(0); } }
@-o-keyframes epda_bounce3 {
  0% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-15px); }
  100% {
    -o-transform: translateY(0); } }
@keyframes epda_bounce3 {
  0% {
    transform: translateY(0); }
  40% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes epda_pulse {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes epda_pulse {
  0% {
    -moz-transform: scale(1); }
  50% {
    -moz-transform: scale(1.1); }
  100% {
    -moz-transform: scale(1); } }
@-ms-keyframes epda_pulse {
  0% {
    -ms-transform: scale(1); }
  50% {
    -ms-transform: scale(1.1); }
  100% {
    -ms-transform: scale(1); } }
@-o-keyframes epda_pulse {
  0% {
    -o-transform: scale(1); }
  50% {
    -o-transform: scale(1.1); }
  100% {
    -o-transform: scale(1); } }
@keyframes epda_pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes slide_down {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes slide_down {
  0% {
    -moz-transform: translateY(-100%); }
  100% {
    -moz-transform: translateY(0); } }
@-ms-keyframes slide_down {
  0% {
    -ms-transform: translateY(-100%); }
  100% {
    -ms-transform: translateY(0); } }
@-o-keyframes slide_down {
  0% {
    -o-transform: translateY(-100%); }
  100% {
    -o-transform: translateY(0); } }
@keyframes slide_down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes fade_down {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 1; }
  0% {
    -webkit-transform: translateY(0); }
  25% {
    -webkit-transform: translateY(20px); }
  30% {
    -webkit-transform: translateY(0); }
  45% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes fade_down {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 1; }
  0% {
    -moz-transform: translateY(0); }
  25% {
    -moz-transform: translateY(20px); }
  30% {
    -moz-transform: translateY(0); }
  45% {
    -moz-transform: translateY(0); }
  100% {
    -moz-transform: translateY(0); } }
@-ms-keyframes fade_down {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 1; }
  0% {
    -ms-transform: translateY(0); }
  25% {
    -ms-transform: translateY(20px); }
  30% {
    -ms-transform: translateY(0); }
  45% {
    -ms-transform: translateY(0); }
  100% {
    -ms-transform: translateY(0); } }
@-o-keyframes fade_down {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 1; }
  0% {
    -o-transform: translateY(0); }
  25% {
    -o-transform: translateY(20px); }
  30% {
    -o-transform: translateY(0); }
  45% {
    -o-transform: translateY(0); }
  100% {
    -o-transform: translateY(0); } }
@keyframes fade_down {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 1; }
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(20px); }
  30% {
    transform: translateY(0); }
  45% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
.echo-content-down-arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  z-index: 9999999999999;
  margin-bottom: 30px; }
  @media only screen and (max-width: 480px) {
    .echo-content-down-arrow {
      text-align: center !important;
      font-size: 50px !important;
      left: 42%; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .echo-content-down-arrow {
      text-align: center !important;
      font-size: 63px !important;
      left: 47%; } }

#ep-arrow {
  position: relative;
  z-index: 99999999; }

.hide {
  display: none; }

/* Font Icons*/
@font-face {
  font-family: 'epda-icomoon';
  src: url("fonts/epda-icomoon.eot?j0p9i8");
  src: url("fonts/epda-icomoon.eot?#iefixj0p9i8") format("embedded-opentype"), url("fonts/epda-icomoon.ttf?j0p9i8") format("truetype"), url("fonts/epda-icomoon.woff?j0p9i8") format("woff"), url("fonts/epda-icomoon.svg?j0p9i8#epda-icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="epda-icon-"], [class*=" epda-icon-"] {
  font-family: 'epda-icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.epda-icon-arrow-circle:before {
  content: "\e600"; }

.epda-icon-arrow-point:before {
  content: "\e601"; }

.epda-icon-arrow-regular:before {
  content: "\e602"; }

.epda-icon-arrow-sharp:before {
  content: "\e603"; }

.epda-icon-arrow-soft:before {
  content: "\e604"; }

/*# sourceMappingURL=public_styles.css.map */
